$primaryColor: rgb(255, 255, 255);
$secondaryColor: #043b4c;
$tertiaryColor: #fea55c;
$quaternaryColor: #e8cea1;
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Rozha One', serif;

body {
	color:$primaryColor;
	font-family: $primaryFont;
	&.page {
		margin: 0;
	}
}
.site {
	max-width: 87.5em;
	margin: 0 auto;
	@media (min-width: 56.25em){
		padding: 4.05em;
	}
}
.top-content-container {
	padding: 1.375rem;
	@media (min-width: 56.25em) {
		display: flex;	
	}
}
nav.main-navigation {
	.menu-toggle {
		background: transparent;
		width: 37px;
		height: 27px;
		border: 3px solid $primaryColor;
		border-left: 0;
		border-right: 0;
		border-radius: 0;
		position: relative;
		&::before {
			content: '';
			width: 37px;
			border-bottom: 3px solid $primaryColor;
			position: absolute;
			left: 0;
			top: 9px;
		}
		@media (min-width: 37.5em) {
			display: block;
		}
		@media (min-width: 56.25em) {
			display: none;
		}
	}
	ul {
		background: $primaryColor;
		@media (min-width: 37.5em) {
			display: none;
		}
		@media (min-width: 56.25em) {
			background-color: transparent;
			display: block;
			padding-top: 8em;
			border-left: 1px solid $primaryColor;
			margin-top: 3.5em;
		}
	}
	li {
		float: none;
		@media (min-width: 56.25em) {	
			&.current-menu-item a {
				display: none;
			}
		}	
	}
	a {
		color: $secondaryColor;
		padding: 1em;
		border-bottom: 1px solid $tertiaryColor;
		font-size: 1.3rem;
		@media (min-width: 56.25em) {
			padding: .25em .6em;
			border: 0;
			color: $primaryColor;
			text-transform: capitalize;
			font-size: 1rem;
			font-weight: 100;
			line-height: 1rem;
			transition: ease .3s all;
			&:hover {
				color: $quaternaryColor;
				transform: translateX(1em);
			}
		}
	}
}
.entry-title {
	margin-top: 1.9em;
	font-size: 1.5rem;
	font-weight: 100;
	color: $quaternaryColor;
	text-align: right;
}
.site-content {
	position: relative;
}
article {
	.entry-content {
		padding: 0 1em 3em 0;
	}
	@media (min-width: 56.25em) {
		display: flex;
		.entry-title {
			transform: rotate(270deg);
		}
	}
}
.corner-line {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 12.3em;
	width: 4.7em;
	border-right: 1px solid $primaryColor;
	border-bottom: 1px solid $primaryColor;
}
footer	{
	background: $secondaryColor;
	padding: 2em 1.375em;
	margin-bottom: 0%;
	font-family: $secondaryFont;
	text-align: center;
	font-size: .875rem;
}
